version: "3"
services:
 db:
  image: oracle/database:19.3.0-se2
  ports:
   - 1521:1521
  volumes:
   - oracledb:/duo
  environment:
   ORACLE_ALLOW_REMOTE: 'true'
  expose:
   - 1521
  networks:
   - oraclenet
volumes:
 oracledb:
networks:
 oraclenet: {}
